.player{
    margin-top: 80px;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

.row{
    max-width: 760px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.separator{
    color: lightgray;
    height: 1px;
    width: 100%;
    margin-bottom: 12px;
}

.title,
.summary{
    color: #032b41;
}

.title{
    font-size: 24px;
    font-weight: 600;
}

.summary{
    white-space: pre-line;
    line-height: 1.4;
}