.landing{
    height: 99vh;
    background-color: #032b41;
    border-bottom-left-radius: 264px;
    border-bottom-right-radius: 264px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1,
.h4 {
    color: #ffffff;    
}

.h1{
    font-size: 48px;
    width: 900px;
    line-height: normal;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 32px;
}

.h4{
    font-weight: 400;
    font-size: 20px;
}

.imgWrapper{
    height: 300px;
    width: 340px;
    background-color: #ffffff;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.img{
    height: 100%;
    width: 80%;
    margin-top: 32px;
}

/* GET STARTED */

.stickyTrack{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.getStarted{
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
}

.smallPrint{
    text-align: center;
    margin-top: 16px;
    opacity: 50%;
    font-size: 12px;
    padding-bottom: 40px;
}

/* BENEFITS */

.benefits{
    margin: 64px 0 40px 0;
    display: flex;
    justify-content: center;
}

.benefitsList{
    position: relative;
    display: flex;
    gap: 64px;
}

.icon{
    width: 100%;
    height: 100%;
    color: #032b41;
}

/* CHOOSE PLAN */

.choosePlan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 32px;
    color: #032b41;
}

/* SEPARATOR */

.separator{
    display: flex;
    gap: 12px;
    align-items: center;
    margin: 24px 0;
}

.separatorLine,
.separatorText{
    color: gray;
}

.separatorLine{
    width: 100px;
    opacity: 50%;
}

.separatorText{
    font-size: 14px;
}

/* FAQ */

.FAQ{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
}

.questionList{
    width: 920px;
}