.landing{
    height: 99vh;
    background-color: #032b41;
    border-bottom-left-radius: 264px;
    border-bottom-right-radius: 264px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1,
.h3 {
    color: #ffffff;    
}

.h1{
    font-size: 48px;
    width: 900px;
    line-height: normal;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 32px;
}

.h3{
    font-weight: 400;
    font-size: 20px;
}

.imgWrapper{
    height: 300px;
    width: 340px;
    background-color: #ffffff;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.img{
    height: 100%;
    width: 80%;
    margin-top: 32px;
}

/* BENEFITS */

.benefits{
    margin: 64px 0 40px 0;
    display: flex;
    justify-content: center;
}

.benefitsList{
    display: flex;
    gap: 64px;
}

.benefit{
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefitDescription,
.icon {
    color: #032b41;
}

.benefitDescription{
    text-align: center;
    margin: 20px 0;
    font-size: 16px;
}

.bold{
    font-weight: bold;
}

.iconWrapper{
    width: 64px;
    height: 64px;
}

.icon{
    width: 100%;
    height: 100%;
}

/* CHOOSE PLAN */

.choosePlan {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 32px;
}

.h2,
.planTitle,
.price{
    color: #032b41;
}

.planPackage{
    display: flex;
    gap: 24px;
    border: 4px solid lightgray;
    border-radius: 4px;
    cursor: pointer;
    padding: 24px;
    width: 640px;
    background-color: #f1f6f4;
}

.planTitle,
.price{
    font-weight: bold;
}

.planTitle{
    font-size: 18px;
}

.price{
    font-size: 24px;
}

.trialInfo{
    font-size: 14px;
    opacity: 50%;
}

.selectionCircle{
    width: 24px;
    height: 24px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectionDot{
    width: 4px;
    height: 4px;
    background-color: black;
    border: 3px solid black;
    border-radius: 50%;
}

/* SEPARATOR */

.separator{
    display: flex;
    gap: 12px;
    align-items: center;
    margin: 24px 0;
}

.separatorLine,
.separatorText{
    color: gray;
}

.separatorLine{
    width: 100px;
    opacity: 50%;
}

.separatorText{
    font-size: 14px;
}