.landing{
    height: 99vh;
    background-color: #032b41;
    border-bottom-left-radius: 264px;
    border-bottom-right-radius: 264px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1,
.h2 {
    color: #ffffff;    
}

.h1{
    font-size: 48px;
    width: 900px;
    line-height: normal;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 32px;
}

.h2{
    font-weight: 400;
    font-size: 20px;
}

.imgWrapper{
    height: 300px;
    width: 340px;
    background-color: #ffffff;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.img{
    height: 100%;
    width: 80%;
    margin-top: 32px;
}

/* BENEFITS */

.benefits{
    margin: 80px 0;
    display: flex;
    justify-content: center;
}

.benefitsList{
    display: flex;
    gap: 64px;
}

.benefit{
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefitDescription,
.icon {
    color: #032b41;
}

.benefitDescription{
    text-align: center;
    margin: 20px 0;
    font-size: 16px;
}

.bold{
    font-weight: bold;
}

.iconWrapper{
    width: 64px;
    height: 64px;
}

.icon{
    width: 100%;
    height: 100%;
}