.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 324px;
    background-color: #f1f6f4;
    color: #032b41;
}

.footerLists{
    margin: 16px 0 56px 0;
    display: flex;
    gap: 180px;
}

.copyright{
    font-weight: 500;
}