.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: #f1f6f4;
    color: #032b41;
    padding: 40px 0;
}

.footerLists{
    margin-bottom: 60px;
    max-width: 1000px;
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
}

.copyright{
    font-weight: 500;
}

@media (max-width: 768px){
    .footerLists{
        flex-wrap: wrap;
        gap: 40px 0;
    }
}