.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 200px;
    background-color: #f7faf9;
    padding: 20px;
    border-right: 2px solid #e2e8f0;
}

.sidebar__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 16px;
}

.logoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    margin-left: 20px;
    height: auto;
}

.logo{
    width: 100%;
    height: 100%;
}

