.audioPlayer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 80px;
    background-color: #032b41;
    padding-left: 240px;
    padding-right: 40px;
}

.trackInfo{
    height: 80px;
    width: 320px;
    display: flex;
    gap: 16px;
}

.imgWrapper{
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    height: auto;
    width: 100%;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.title{
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
}

.author{
    color: lightgray;
    font-size: 12px;
}