.benefit{
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefitDescription{
    text-align: center;
    margin: 20px 0;
    font-size: 16px;
    color: #032b41;
}

.bold{
    font-weight: bold;
}

.iconWrapper{
    width: 64px;
    height: 64px;
}