.btn {
    position: relative;
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    height: 40px;
    color: white;
    position: relative;
    transition: all 200ms ease;
}

.iconWrapper {
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 8%;
    z-index: 1;
}

form .iconWrapper {
    display: none;
}

.icon{
    z-index: 2;
    width: 20px;
    height: 20px;
}