.embla {
  position: relative;
}

.viewport {
  overflow: hidden;
}

.container {
  display: flex;
}

.slide {
  position: relative;
  flex: 0 0 20%;
  padding: 32px 12px 0 12px;
}

.pill{
  position: absolute;
  top:0;
  right:0;
  color: white;
  font-weight: 500;
  width: fit-content;
  padding: 2px 8px;
  border-radius: 14px;
  font-size: 10px;
  background-color: #032b41;
}

.prev,
.next {
  position: absolute;
  top: 40%;
  z-index: 2;
  background: white;
  border: none;
  font-size: 32px;
  cursor: pointer;
}

.prev {
  left: -10px;
}

.next {
  right: -10px;
}

@media (max-width: 1024px) {
  .slide {
    flex: 0 0 33.333%;
  }
}

@media (max-width: 600px) {
  .slide {
    flex: 0 0 50%;
  }
}

@media (max-width: 480px) {
  .slide {
    flex: 0 0 100%;
  }
}