.embla {
  position: relative;
}

.viewport {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}

.viewport::-webkit-scrollbar {
  display: none;
}
.container {
  display: flex;
}

.slide {
  position: relative;
  flex: 0 0 20%;
  padding: 32px 12px 0 12px;
}

.pill{
  position: absolute;
  top:0;
  right:0;
  color: white;
  font-weight: 500;
  width: fit-content;
  padding: 2px 8px;
  border-radius: 14px;
  font-size: 10px;
  background-color: #032b41;
}

.title{
    color: #032b41;
    font-weight: bold;
    line-height: normal;
    margin-top: 8px;
}

.author{
  font-size: 14px;
  font-weight: 300;
  opacity: 50%;
  margin-top: 6px;
}

.subTitle{
  font-size: 14px;
  line-height: normal;
  opacity: 75%;
  margin-top: 6px;
}

.bottomInfo{
  display: flex;
  align-items: center;
  margin-top: 6px;
  gap: 4px;
}

.bottomText{
  font-weight: 300;
  opacity: 50%;
  font-size: 14px;
  margin-right: 4px;
}

.iconWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14px;
  width: 14px;
}

.star{
  color: gold;
}

.icon{
  height: 100%;
  width: 100%;
}

@media (max-width: 1024px) {
  .slide {
    flex: 0 0 33.333%;
  }
}

@media (max-width: 600px) {
  .slide {
    flex: 0 0 50%;
  }
}

@media (max-width: 480px) {
  .slide {
    flex: 0 0 100%;
  }
}