.footerList{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footerListItem{
    font-size: 14px;
    color: black;
    opacity: 75%;
}

.footerLink{
    cursor: not-allowed;
}

.h3{
    font-weight: bold;
    font-size: 18px;
}