.btn{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 16px 0 16px 16px;
    transition: all 200ms ease;
}

.btnHoverSelected{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 16px 0 16px 16px;
    background-color: #f0efef;
    transition: all 200ms ease;    
}

.item{
    height: 100%;
}

.btnSelected{
    content: "";
    transform: translate(-24px, -16px);
    position: absolute;
    height: 100%;
    width: 8px;
    background-color: #2bd97c;
}

.btnDisabled{
    content: "";
    transform: translate(-24px, -16px);
    position: absolute;
    height: 100%;
    width: 8px;
    background-color: #D92B47;    
}

.btn:hover{
    background-color: #f0efef;
}

.btn:active{
    filter: brightness(75%);
}

.text{
    font-size: 16px;
}

.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-right: 16px;
}

.icon {
    width: 100%;
    height: 100%;
    color: black;
}