.btn{
    display: flex;
    gap: 16px;
}

.text{
    font-size: 16px;
}

.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 1px solid black;
}